In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder
import pickle

In [4]:
#read data from csv file
data = pd.read_csv('./Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
#remove irrelevant columns 
data = data.drop(columns=['RowNumber', 'CustomerId', 'Surname'], axis=1) 
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
oneHot_encoder_geo = OneHotEncoder()
geo_encoder = oneHot_encoder_geo.fit_transform(data[['Geography']]).toarray()

In [8]:
geo_encoder_df = pd.DataFrame(geo_encoder, columns=oneHot_encoder_geo.get_feature_names_out())
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
data = pd.concat([data.drop(columns=['Geography'], axis=1), geo_encoder_df], axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [10]:
X = data.drop(columns=['Exited'], axis=1)
y = data[['Exited']]

In [11]:
#split data for training and validation 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scalar = StandardScaler()
X_train = scalar.fit_transform(X_train)
X_test = scalar.transform(X_test)

In [12]:
#save encoders and scalars 
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('oneHot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(oneHot_encoder_geo, file)

with open('scalar.pkl', 'wb') as file:
    pickle.dump(scalar, file)

### ANN Implementation

In [13]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [14]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

model.summary()

/opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2026-01-19 14:34:53.765592: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4 Pro
2026-01-19 14:34:53.765619: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 48.00 GB
2026-01-19 14:34:53.765625: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 18.72 GB
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1768822493.765636 2708022 pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
I0000 00:00:1768822493.765652 2708022 pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
model.compile(tf.keras.optimizers.Adam(),
              tf.keras.losses.BinaryCrossentropy(), metrics = ['accuracy'])

In [16]:
log_dir = 'logs/fit' + datetime.datetime.now().strftime('%Y%m%d%H%M%S')
tensorflow_callback = TensorBoard(log_dir, histogram_freq=1)

In [17]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [18]:
### Train the model
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100, 
          callbacks=[tensorflow_callback, early_stopping_callback])

Epoch 1/100

2026-01-19 14:34:54.066123: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.

250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.7775 - loss: 0.4836 - val_accuracy: 0.8135 - val_loss: 0.4223
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8089 - loss: 0.4375 - val_accuracy: 0.8115 - val_loss: 0.4204
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8076 - loss: 0.4432 - val_accuracy: 0.8090 - val_loss: 0.4542
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8069 - loss: 0.4491 - val_accuracy: 0.8040 - val_loss: 0.4620
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.7990 - loss: 0.4649 - val_accuracy: 0.8035 - val_loss: 0.4638
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8026 - loss: 0.4668 - val_accuracy: 0.7785 - val_loss: 0.5436
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8071 - loss: 0.4690 - val_accuracy: 0.8070 - val_loss: 0.4794
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8048 - loss: 0.4797 - val_accuracy: 0.8120 - val_loss: 0.4300
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.7947 - loss: 0.5237 - val_accuracy: 0.8040 - val_loss: 0.4677
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.7860 - loss: 0.5292 - val_accuracy: 0.7995 - val_loss: 0.4923
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.7945 - loss: 0.5018 - val_accuracy: 0.8110 - val_loss: 0.4471
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.7962 - loss: 0.5258 - val_accuracy: 0.8195 - val_loss: 0.4281

In [19]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [20]:
## Load Tensorboard Extension
%load_ext tensorboard

In [21]:
%tensorboard --logdir logs

## Hyperparameter Tuning

In [27]:
def create_model(neurons=32, layers = 1):
    model = Sequential()
    model.add(Dense(neurons, activation='relu', input_shape=(X_train.shape[1],)))

    for _ in range(layers - 1):
        model.add(Dense(neurons, activation='relu'))
    
    model.add(Dense(1, activation='sigmoid'))
    model.compile(optimizer='adam',loss="binary_crossentropy",metrics=['accuracy'])
    return model

In [23]:
!pip install scikeras

Requirement already satisfied: scikeras in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (0.13.0)
Requirement already satisfied: keras>=3.2.0 in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from scikeras) (3.13.1)
Requirement already satisfied: scikit-learn>=1.4.2 in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from scikeras) (1.8.0)
Requirement already satisfied: absl-py in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from keras>=3.2.0->scikeras) (2.3.1)
Requirement already satisfied: numpy in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from keras>=3.2.0->scikeras) (2.0.2)
Requirement already satisfied: rich in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from keras>=3.2.0->scikeras) (14.2.0)
Requirement already satisfied: namex in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from keras>=3.2.0->scikeras) (0.1.0)
Requirement already satisfied: h5py in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from keras>=3.2.0->scikeras) (3.15.1)
Requirement already satisfied: optree in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from keras>=3.2.0->scikeras) (0.18.0)
Requirement already satisfied: ml-dtypes in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from keras>=3.2.0->scikeras) (0.4.1)
Requirement already satisfied: packaging in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from keras>=3.2.0->scikeras) (25.0)
Requirement already satisfied: scipy>=1.10.0 in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from scikit-learn>=1.4.2->scikeras) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from scikit-learn>=1.4.2->scikeras) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from scikit-learn>=1.4.2->scikeras) (3.6.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from optree->keras>=3.2.0->scikeras) (4.15.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from rich->keras>=3.2.0->scikeras) (4.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from rich->keras>=3.2.0->scikeras) (2.19.2)
Requirement already satisfied: mdurl~=0.1 in /opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.2.0->scikeras) (0.1.2)

In [ ]:
from scikeras.wrappers import KerasClassifier

model = KerasClassifier(layers = 1, neurons= 32, model=create_model, verbose = 1)

In [29]:
from sklearn.model_selection import GridSearchCV

# Define the grid search parameters
param_grid = {
    'neurons': [16, 32, 64, 128],
    'layers': [1, 2],
    'epochs': [50, 100]
}

In [ ]:
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, verbose=1)
grid_result = grid.fit(X_train, y_train)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

/opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
/opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2026-01-19 14:39:47.580602: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4 Pro
2026-01-19 14:39:47.580664: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 48.00 GB
2026-01-19 14:39:47.580673: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 18.72 GB
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1768822787.580688 2709690 pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
I0000 00:00:1768822787.580715 2709690 pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
2026-01-19 14:39:47.581777: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4 Pro
2026-01-19 14:39:47.581839: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 48.00 GB
2026-01-19 14:39:47.581859: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 18.72 GB
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1768822787.581871 2709692 pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
I0000 00:00:1768822787.581892 2709692 pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
/opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2026-01-19 14:39:47.595683: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4 Pro
2026-01-19 14:39:47.595776: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 48.00 GB
2026-01-19 14:39:47.595785: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 18.72 GB
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1768822787.595808 2709688 pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
I0000 00:00:1768822787.595847 2709688 pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
/opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
/opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2026-01-19 14:39:47.605750: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4 Pro
2026-01-19 14:39:47.605827: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 48.00 GB
2026-01-19 14:39:47.605889: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 18.72 GB
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1768822787.605958 2709694 pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
I0000 00:00:1768822787.606186 2709694 pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
/opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2026-01-19 14:39:47.611778: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4 Pro
2026-01-19 14:39:47.611846: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 48.00 GB
2026-01-19 14:39:47.611855: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 18.72 GB
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1768822787.611868 2709700 pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
I0000 00:00:1768822787.611900 2709700 pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
2026-01-19 14:39:47.617303: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4 Pro
2026-01-19 14:39:47.617413: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 48.00 GB
2026-01-19 14:39:47.617426: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 18.72 GB
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1768822787.617440 2709696 pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
I0000 00:00:1768822787.617465 2709696 pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
/opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2026-01-19 14:39:47.626890: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4 Pro
2026-01-19 14:39:47.626970: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 48.00 GB
2026-01-19 14:39:47.626984: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 18.72 GB
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1768822787.626998 2709698 pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
I0000 00:00:1768822787.627020 2709698 pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
/opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
/opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2026-01-19 14:39:47.634625: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4 Pro
2026-01-19 14:39:47.634779: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 48.00 GB
2026-01-19 14:39:47.634833: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 18.72 GB
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1768822787.634858 2709684 pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
I0000 00:00:1768822787.634883 2709684 pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
2026-01-19 14:39:47.638286: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4 Pro
2026-01-19 14:39:47.638417: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 48.00 GB
2026-01-19 14:39:47.638440: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 18.72 GB
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1768822787.638492 2709707 pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
I0000 00:00:1768822787.638521 2709707 pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
/opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2026-01-19 14:39:47.654031: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4 Pro
2026-01-19 14:39:47.654096: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 48.00 GB
2026-01-19 14:39:47.654112: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 18.72 GB
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1768822787.654128 2709704 pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
I0000 00:00:1768822787.654152 2709704 pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
/opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2026-01-19 14:39:47.680694: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4 Pro
2026-01-19 14:39:47.680778: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 48.00 GB
2026-01-19 14:39:47.680788: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 18.72 GB
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1768822787.680802 2709702 pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
I0000 00:00:1768822787.680823 2709702 pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
/opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
/opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2026-01-19 14:39:47.792921: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4 Pro
2026-01-19 14:39:47.796569: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 48.00 GB
2026-01-19 14:39:47.797149: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 18.72 GB
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1768822787.797174 2709686 pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
I0000 00:00:1768822787.797198 2709686 pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
2026-01-19 14:39:47.798745: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4 Pro
2026-01-19 14:39:47.800049: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 48.00 GB
2026-01-19 14:39:47.801497: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 18.72 GB
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1768822787.801518 2709709 pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
I0000 00:00:1768822787.801545 2709709 pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
/opt/miniconda3/envs/churn_gpu/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2026-01-19 14:39:47.893568: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4 Pro
2026-01-19 14:39:47.893712: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 48.00 GB
2026-01-19 14:39:47.893732: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 18.72 GB
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1768822787.893770 2709711 pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
I0000 00:00:1768822787.893972 2709711 pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Epoch 1/50
Epoch 1/50
Epoch 1/50
Epoch 1/50
Epoch 1/50
Epoch 1/50
Epoch 1/50
Epoch 1/50

2026-01-19 14:39:49.345432: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.
2026-01-19 14:39:49.356202: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.
2026-01-19 14:39:49.362643: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.
2026-01-19 14:39:49.400625: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.
2026-01-19 14:39:49.406213: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.
2026-01-19 14:39:49.536385: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.

Epoch 1/50
Epoch 1/50
Epoch 1/50
Epoch 1/50
Epoch 1/50
Epoch 1/50

2026-01-19 14:39:49.601623: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.
2026-01-19 14:39:49.605305: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.
2026-01-19 14:39:49.677396: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.
2026-01-19 14:39:49.693265: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.
2026-01-19 14:39:49.694278: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.
2026-01-19 14:39:49.696512: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.
2026-01-19 14:39:49.707364: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.
2026-01-19 14:39:49.719563: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.

In [ ]:
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))