In [58]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

In [59]:
#read data from csv file
data = pd.read_csv('./Churn_Modelling.csv')
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [60]:
#remove unwanted features
data = data.iloc[:, 3:]

In [61]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [62]:
oneHot_encoder_geo = OneHotEncoder()
encoder_geo = oneHot_encoder_geo.fit_transform(data[['Geography']]).toarray()
encoder_geo_df = pd.DataFrame(encoder_geo, columns=oneHot_encoder_geo.get_feature_names_out())
encoder_geo_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [63]:
#concat the new geo columns to data
data = pd.concat([data.drop(columns=['Geography'], axis=1), encoder_geo_df], axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [64]:
X = data.drop('EstimatedSalary', axis=1)
y = data[['EstimatedSalary']]

#split data for validation
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scalar = StandardScaler()
X_train = scalar.fit_transform(X_train)
X_test = scalar.transform(X_test)
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [65]:
import pickle
with open('label_encoder_gender_reg.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('oneHot_encoder_geo_reg.pkl', 'wb') as file:
    pickle.dump(oneHot_encoder_geo, file)

with open('scalar_reg.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

In [66]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping
import datetime

model = Sequential([
    tf.keras.Input(shape=(X_train.shape[1], )),
    Dense(64, activation = 'relu'),
    Dense(32, activation = 'relu'),
    Dense(1)
])

model.summary()

Model: "sequential_7"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_21 (Dense)                │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_22 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_23 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [67]:
model.compile(optimizer=tf.keras.optimizers.Adam(), loss='mse', metrics=['mae'])

In [68]:
log_dir = 'salary_regression_logs/fit' + datetime.datetime.now().strftime('%Y%m%d%H%M%S')
tensorflow_callback = TensorBoard(log_dir, histogram_freq=1)

In [69]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [70]:
### Train the model
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100, 
          callbacks=[tensorflow_callback, early_stopping_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 13393115136.0000 - mae: 100424.6250 - val_loss: 13042938880.0000 - val_mae: 98699.6562
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 13370305536.0000 - mae: 100310.9219 - val_loss: 12993624064.0000 - val_mae: 98446.8828
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 13276445696.0000 - mae: 99843.8750 - val_loss: 12851377152.0000 - val_mae: 97716.2891
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 13070690304.0000 - mae: 98811.2422 - val_loss: 12584784896.0000 - val_mae: 96334.3516
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 12729963520.0000 - mae: 97110.3125 - val_loss: 12182905856.0000 - val_mae: 94264.9297
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 12256679936.0000 - mae: 94740.6484 - val_loss: 11660244992.0000 - val_mae: 91559.4922
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 11672809472.0000 - mae: 91789.3984 - val_loss: 11055111168.0000 - val_mae: 88448.1328
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 11026929664.0000 - mae: 88507.8125 - val_loss: 10418840576.0000 - val_mae: 85132.0781
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 10373370880.0000 - mae: 85102.9453 - val_loss: 9800023040.0000 - val_mae: 81860.4688
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 9754237952.0000 - mae: 81838.8984 - val_loss: 9236238336.0000 - val_mae: 78808.2188
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 9206769664.0000 - mae: 78885.6406 - val_loss: 8746790912.0000 - val_mae: 76213.9609
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 8720599040.0000 - mae: 76255.9844 - val_loss: 8311995904.0000 - val_mae: 73905.9453
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 8278645248.0000 - mae: 73862.4141 - val_loss: 7903504896.0000 - val_mae: 71776.8984
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 7836179456.0000 - mae: 71624.2188 - val_loss: 7478866944.0000 - val_mae: 69716.0938
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 7382224384.0000 - mae: 69423.2891 - val_loss: 7024154624.0000 - val_mae: 67608.5156
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 6885822976.0000 - mae: 67061.4453 - val_loss: 6529935360.0000 - val_mae: 65331.0742
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 6361583616.0000 - mae: 64616.0508 - val_loss: 6006731264.0000 - val_mae: 62945.7109
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 5831951872.0000 - mae: 62096.2031 - val_loss: 5502468096.0000 - val_mae: 60593.6094
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 5327191040.0000 - mae: 59665.1680 - val_loss: 5037149696.0000 - val_mae: 58354.7969
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 4880056320.0000 - mae: 57475.8125 - val_loss: 4636037120.0000 - val_mae: 56381.2656
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 4496332800.0000 - mae: 55581.6797 - val_loss: 4296077824.0000 - val_mae: 54667.3242
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 4183208192.0000 - mae: 53977.9375 - val_loss: 4027316224.0000 - val_mae: 53294.6562
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3934041344.0000 - mae: 52732.4883 - val_loss: 3818329088.0000 - val_mae: 52251.9844
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3747137024.0000 - mae: 51784.7539 - val_loss: 3662240256.0000 - val_mae: 51473.4766
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3607682560.0000 - mae: 51083.0312 - val_loss: 3547564800.0000 - val_mae: 50904.1641
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3507808256.0000 - mae: 50578.4883 - val_loss: 3468503552.0000 - val_mae: 50525.8047
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3438413824.0000 - mae: 50238.0117 - val_loss: 3413922560.0000 - val_mae: 50276.5625
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3391260416.0000 - mae: 50007.5664 - val_loss: 3377256704.0000 - val_mae: 50107.6680
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3360166656.0000 - mae: 49857.3320 - val_loss: 3353297408.0000 - val_mae: 50001.3398
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3339640064.0000 - mae: 49756.9336 - val_loss: 3337492736.0000 - val_mae: 49928.1875
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3326464512.0000 - mae: 49694.6367 - val_loss: 3327240704.0000 - val_mae: 49885.6562
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3318196224.0000 - mae: 49659.3867 - val_loss: 3321283840.0000 - val_mae: 49866.0234
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3312496640.0000 - mae: 49630.7891 - val_loss: 3317304832.0000 - val_mae: 49853.0273
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3309221632.0000 - mae: 49612.5000 - val_loss: 3314476800.0000 - val_mae: 49844.6445
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3307853056.0000 - mae: 49613.5391 - val_loss: 3313256448.0000 - val_mae: 49838.5938
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3306467072.0000 - mae: 49603.5664 - val_loss: 3312210688.0000 - val_mae: 49837.2148
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3306204416.0000 - mae: 49603.8281 - val_loss: 3311808512.0000 - val_mae: 49836.3438
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3305623040.0000 - mae: 49602.9883 - val_loss: 3310726144.0000 - val_mae: 49830.2539
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3305050368.0000 - mae: 49595.3672 - val_loss: 3310653696.0000 - val_mae: 49834.5117
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3305080320.0000 - mae: 49597.9805 - val_loss: 3310055680.0000 - val_mae: 49832.7461
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3305010688.0000 - mae: 49597.6367 - val_loss: 3310491904.0000 - val_mae: 49836.5938
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3304976896.0000 - mae: 49601.6445 - val_loss: 3311485952.0000 - val_mae: 49841.1523
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 3304900352.0000 - mae: 49600.2344 - val_loss: 3310707200.0000 - val_mae: 49835.7578
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3304879616.0000 - mae: 49595.1758 - val_loss: 3310429696.0000 - val_mae: 49836.5039
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3304824064.0000 - mae: 49599.6641 - val_loss: 3310367744.0000 - val_mae: 49836.8359
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3305205504.0000 - mae: 49603.0391 - val_loss: 3310560256.0000 - val_mae: 49835.6484
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3304579584.0000 - mae: 49595.9727 - val_loss: 3310084096.0000 - val_mae: 49833.6836
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3305061120.0000 - mae: 49596.4609 - val_loss: 3310967296.0000 - val_mae: 49836.5352
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3304672512.0000 - mae: 49595.1289 - val_loss: 3310787840.0000 - val_mae: 49836.3555
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3304777216.0000 - mae: 49597.6172 - val_loss: 3310226432.0000 - val_mae: 49832.3750

In [71]:
model.save('salary_regression_model.keras')

In [72]:
## Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [73]:
%tensorboard --logdir logs

Reusing TensorBoard on port 6006 (pid 78227), started 1:16:25 ago. (Use '!kill 78227' to kill it.)